body {
    background-color: lightgray;
}

ul {
    padding: 0;
    list-style-type: none;
    background-color: rgba(235, 212, 84, 0.671);
}

li {
    padding: .5rem;
    border: .01rem solid black; 
 }

a {
    font-size: 150%;
    text-decoration: none;
}

.post__comment {
    display: none;
}

.post__comment.shown {
    display: table-row;
}

p {
    padding: 0.5rem;
    background-color: lightgoldenrodyellow;
}