#homepage {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
     "header header"
     "localmenu main"
     "footer footer";
}

header {
    grid-area: header;
    background-color: plum;
}

.menubar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.local-menu {
    grid-area: localmenu;
    background-color: pink;
    border-right: 1px solid black;
}

.local-menu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    padding-inline-start: 0.5rem;
}

main {
    grid-area: main;
    background-color: pink;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    grid-area: footer;
    background-color: plum;
    padding: 1rem;
}

.menu a:hover {
    background-color: rebeccapurple;
    color: white;
}

.local-menu li:hover {
    background-color: plum;
}

.menu a {
    padding: 1rem;
}

.local-menu li {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-right: 0rem;
}