.home {
    margin: 0.5rem;
}

.home__photo {
    width: 100%;
    height: auto;
}

.home__newsList {
    position: relative;

    width: 100%;
    border: 1px solid darkgray;
}

.home__newsList ul {
    padding-left: 25px;
}

.home__newsList li{
    border-bottom: 1px solid darkgray;
}

.news {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid darkgray;
}

.news__species {
    padding: 0.25rem 1rem;

    border: none;

    background-color: transparent;
}

.news__species.active{
    border-bottom: 2px solid darkblue;
}

.news__button {
    position: absolute;

    border: none;

    width: 100%;
    bottom: 0;

    background-color: darkgray;
}

.home__card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
}

.homeCard {
    position: relative;

    grid-column: span 6;

    margin: 10px;
    border: 0.1rem solid black;

    background-color: white;
}

.homeCard__photo {
    width: 100%;
    height: auto;
}

.homeCard__name {
    height: auto;
    padding: 0.25rem;
    margin: 0;

    font-style:italic;

    color: black;
}

.homeCard__overlay {
    position: absolute;
 
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;

    background-color: black;
    overflow: hidden;
    opacity: 0.8;

    transition: .5s ease;
}

.homeCard:hover .homeCard__overlay {
    height: 100%;
}

.overlay__text { 
    position: absolute;

    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;

    color: white;
}

@media (min-width: 640px) {
    .home__photo {
        width: 50%;
        height: auto;
    }

    .home__newsList {
        margin-left: 10px;

        width: 50%;

        font-size: 100%;
    }

    .homeCard {
        grid-column: span 3;
    }

    .home__news {
        display: flex;
        flex-direction: row;
    }

    .news__species {
        padding: 0.25rem 0.5rem;

        font-size: 100%;
    }
}

@media (min-width: 960px) {
    .home__newsList {
        font-size: 150%;
    }

    .news__species {
        padding: 0.25rem 0.75rem;

        font-size: 115%;
    }
}